/* Dark Mode styles */
body.dark-theme {
	background: #2C2C3C;

	#hero,
	#projects,
	footer {
		background: #2C2C3C;
		color: #8fe0bd;
	}

	#about,
	#contact {
		background: #27473f;
		color: #8fe0bd;

		a {
			color: #8fe0bd;
			border: 2px solid #8fe0bd;
			&:hover {
				border: 2px solid #fff;
			}
		}
	}

	.text-color-main {
		background-image: linear-gradient(135deg, #fff 0%, #eee 100%);
	}

	.cta-btn--hero {
		background-image: linear-gradient(135deg, #fff 0%, #eee 100%);
		border: 2px solid #fff;

		&:hover {
			border: 2px solid #8fe0bd;
		}
	}

	footer {
		a {
			background-color: #2C2C3C;
		}
	}
}

.btn-toggle {
	position: absolute;
	top: 20px;
	right: 20px;
	z-index: 1000;

	.fa-sun-o {
		color: white;
	}
}
